Source: 3depict
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: D Haley <mycae@gmx.com>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), libgl1-mesa-dev | libgl-dev, libpng-dev | libpng15-dev, libqhull-dev, libwxgtk2.8-dev, libftgl-dev, libxml2-dev, libmgl-dev (>= 2.0)
Standards-Version: 3.9.5
Homepage: http://threedepict.sourceforge.net/index.html
Vcs-Git: git://anonscm.debian.org/debian-science/packages/3depict.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/3depict.git


Package: 3depict
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: visualisation and analysis for single valued point data 
 This program provides a graphical interface for the scientific analysis
 of real valued point data (x,y,z,value). This is primarily targeted
 towards Atom probe tomography applications, but may prove useful to
 other applications as well.

